@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* Layout */
body {font-family: 'NanumSquare', sans-serif !important; font-size: 14px; color: #4e4e4e;line-height: 1.4;} 
.wrap {width: 100%; margin: 0 auto; position: relative; overflow: hidden; min-width: 1100px}

/* header */
header {width: 100%; height: 120px; line-height: 120px;  padding: 0 60px; box-sizing: border-box; position: fixed; top: 0; z-index: 100; transition: all 0.5s;}
header.on {background: #fff;}
header .logo {display: block; font-size: 42px; font-weight: 900; letter-spacing: -6px; color: #39312b; float: left;}
header nav {float: right}
header nav .gnb li {display: inline-block; margin-left: 60px;}
header nav .gnb li a {display: block; font-size: 18px; text-transform: uppercase; position: relative;}
header nav .gnb li a:after {content: ''; width: 0%; height: 1px; position: absolute; background: #888; bottom: 47px; left: 50%; transform: translateX(-50%); transition: all 0.3s;}
header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {width: 100%}

/* visual */
section.visual {margin-top: 120px; position: relative; padding-bottom: 50px;}
section.visual:before {content: ''; width: 53%; height: 400px; position: absolute; bottom: 0; right: 0; background: #f0f0f0;}
section.visual .img {width: 94%; position: relative; text-align: center} /* overflow: hidden 지워줌  안그러면 페이지 숫자가 안보임 */
section.visual .img .imgBox {display: block; width: 100%; height: 100%; overflow: hidden} /* img만 깜싸준 곳에 오버플로우줌 */
/* 페이지 숫자 추가*/
section.visual .img .page {position: absolute;right: -43px; top: 50%; transform: translateY(-50%)}
section.visual .img img {width: 100%;}
section.visual .title {position: absolute; top: 40%; left: 8%; color: #fff}
section.visual .title h2 {font-size: 50px; margin-bottom: 30px;}
section.visual .title p {font-size: 20px; font-weight: 300; }
section.visual .menu {position: absolute; bottom: 15%; left: 8%; overflow: hidden}
section.visual .menu li {float: left; margin-right: 60px}
section.visual .menu li a{display: block; color: #fff;}
section.visual .menu li a p {float: left; font-weight: bold; font-size: 20px; line-height: 1.6;}
section.visual .menu li a p span {font-weight: 100; font-size: 15px; display: block; color: #aaa;}
section.visual .menu li a .arrow {display: block; float: right; margin-top: 10px; margin-left: 20px; position: relative; z-index: 1;}
section.visual .menu li a .arrow:before {content: ''; width: 40px; height: 40px; background: rgba(255, 255, 255, 0.4); position: absolute; right: -10px; top: -10px; z-index: -1; transition: all 0.2s;}
section.visual .menu li a:hover .arrow:before,section.visual .menu li a:focus .arrow:before {right: 0px; top: 0px;}
section.visual .img .mask {display: block; position: absolute; top: 0; width: 1px; height: 100%; background: rgba(255, 255, 255, 0.15);}
section.visual .img .mask.a {left: 0%;} 
section.visual .img .mask.b {left: 25%;}
section.visual .img .mask.c {left: 50%;}
section.visual .img .mask.d {left: 75%;}

/* visual - slick-active */
@keyframes mask { 
	0% {width: 25%; background: #000;}
    50% {width: 25%; background: #000;}
    99% {background: #000;} 
} 
section.visual .slick-active .mask.a {animation-name: mask; animation-duration: 0.4s}
section.visual .slick-active .mask.b {animation-name: mask; animation-duration: 0.6s}
section.visual .slick-active .mask.c {animation-name: mask; animation-duration: 0.8s}
section.visual .slick-active .mask.d {animation-name: mask; animation-duration: 1s}
@keyframes slid-up { 
	0% {opacity: 0}
    40% {opacity: 0; transform: translateY(40px)}
} 
section.visual .slick-active .title h2{animation-name: slid-up; animation-duration: 1.5s}
section.visual .slick-active .title p{animation-name: slid-up; animation-duration: 2.2s}
section.visual .slick-active .menu{animation-name: slid-up; animation-duration: 2.8s}
section.visual .slick-active .imgBox img {animation-name: scaleani; animation-duration: 5.2s;}
@keyframes scaleani {
    0%{transform: scale(1.1);}
}

/* visual - slick-dots */
.slick-dots {position: absolute; right: 4.5%; bottom: 30px;}
.slick-dots li button{text-indent: -9999px; width: 12px; height: 12px; background: #ccc; border: none; margin-bottom: 15px; cursor: pointer}
.slick-dots li.slick-active button {background: #39312b;}

/* about */
section.about {width: 95%; margin: 40px auto;text-align:center ; position: relative;}
section.about > img {width: 100%;}
section.about .inner { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
section.about .inner h2 {font-size: 30px; color: #fff; font-weight: normal; position: relative}
section.about .inner .line {position: relative;width: 35%; margin: 80px auto 30px;}
section.about .inner .line span {display: block; width: 100%; height: 1px; background: rgba(255, 255, 255, 0.2);}
section.about .inner .line li {width: 6px; height: 6px; border-radius: 100%; background: #fff; position: absolute;}
section.about .inner .line li.a {left: 0; top:-2px;}
section.about .inner .line li.b {left: 50%; top:-2px; transform: translateX(-50%);}
section.about .inner .line li.c {right: 0; top:-2px;}
section.about .inner .line li:before {content: ''; width: 100%; height: 100%; border-radius: 100%; background: 
rgba(255, 255, 255, 0.7); position: absolute; top: 50%; left: 50%; margin-left: -3px; margin-top: -3px; animation: dot 1.5s infinite;}
@keyframes dot { 
    100% {opacity: 1; transform: scale(3.5); opacity: 0;}
} 
section.about .inner ul {width: 60%; margin: 0 auto;}
section.about .inner ul li {color: #cfc5c5; float: left;width: 33.333%; font-size: 17px; font-weight: 100; position: relative;}
section.about .inner ul li h3 {font-size: 18px; margin-bottom: 20px; font-weight: normal; color: #fff}

/* about - motion */
@keyframes slid-up2 { 
	0% {opacity: 0}
    70% {opacity: 0; transform: translateY(40px)}
} 
@keyframes opacity-ani { 
	0% {opacity: 0}
    70% {opacity: 0;}
} 
section.about .inner.motion h2 {animation-name: slid-up; animation-duration: 0.8s}
section.about .inner.motion .line span {animation-name: opacity-ani; animation-duration: 0.8s}
section.about .inner.motion .line li.a {animation-name: opacity-ani; animation-duration: 1.2s}
section.about .inner.motion .line li.b {animation-name: opacity-ani; animation-duration: 1.6s}
section.about .inner.motion .line li.c {animation-name: opacity-ani; animation-duration: 2s}
section.about .inner.motion ul li {animation-name: slid-up2; animation-duration: 2.4s}
section.about .inner.motion ul li:nth-child(2) { animation-duration:2.8s}
section.about .inner.motion ul li:nth-child(3) { animation-duration: 3.2s}

/* premium */
section.premium {width: 95%; margin: 40px auto; padding: 100px 0; height: 1020px; box-sizing: border-box; background: url(../img/con2_bg.jpg) no-repeat center/cover; position: relative}
section.premium .textImg {position: absolute; left: 0; top: 20%; display: block; overflow: hidden; width: 100%;} /* 모션위해서 오버플로우 줌 */
section.premium .title {position: absolute; left: 8%; top: 35%}
section.premium .title h2 {font-size: 30px; margin-bottom: 20px}
section.premium .title p {font-size: 19px; line-height: 1.6; margin-bottom: 30px}
section.premium .title a {font-size: 24px; display: inline-block; position: relative;}
section.premium .title a:before {content: ''; width: 80px; height: 15px; background: rgba(0, 0, 0, 0.08); position: absolute; bottom: 0px; transition: all 0.3s;}
section.premium .title a:hover:before, section.premium .title a:focus:before {width: 0;}
section.premium .banner li {position: absolute; box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.4); z-index: 1; width: 15%;opacity: 1}
section.premium .banner li img {width: 100%;}
section.premium .banner li:nth-child(1) {left: 45%; top: 15%}
section.premium .banner li:nth-child(2) {left: 37%;top: 50%}
section.premium .banner li:nth-child(3) {left: 55%;top: 62%}
section.premium .banner li:nth-child(4) {right: 2%; width: 32%;}
section.premium .banner:before {content: ''; width: 32%; height:00%; background: #eee; position: absolute;right: 0%; top: 6%;}

/* premium - motion */
@keyframes  widthAni {
   0%{width:0%;}
   40%{width:0%;}
   100%{width: 100%;}
}
section.premium .textImg.motion {animation-name: widthAni; animation-duration: 2.5s;}
section.premium .banner.motion:before {height:50%;transition: 1.5s;}
section.premium .banner li:nth-child(1).motion {animation-name: slid-up; animation-duration: 1.2s}
section.premium .banner li:nth-child(2).motion {animation-name: slid-up; animation-duration: 1.8s}
section.premium .banner li:nth-child(3).motion {animation-name: slid-up; animation-duration: 2.2s}
section.premium .banner li:nth-child(4).motion {animation-name: slid-up; animation-duration: 1.5s}

/* global */
section.global {width: 95%; margin: 40px auto 0; padding: 40px 0; text-align:center; position: relative;}
section.global:before {content: ''; width: 100%; height:45%; background: #eee; position: absolute;left: 0%; bottom: 0; z-index: -1;}
section.global .title h2 {font-size: 30px; margin-bottom: 20px}
section.global .title p {font-size: 18px; line-height: 1.4; margin-bottom: 50px}
section.global ul {overflow: hidden; padding-top: 50px;}
section.global ul li {float: left; width: 25%; padding: 15px; box-sizing: border-box;}
section.global ul li:nth-child(1),section.global ul li:nth-child(3) {margin-top: -50px;}
section.global ul li a {display: block;}
section.global ul li a .img {box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25); position: relative; transition: all 0.2s;}
section.global ul li a:hover .img, section.global ul li a:focus .img {transform: translate(-8px,-8px);box-shadow: 15px 18px 10px rgba(0, 0, 0, 0.35);}
section.global ul li a .img:after {content: 'VIEW'; width: 100%; height: 100%; background: rgba(44, 35, 28, 0.8);  position: absolute; left: 0; top: 0;  color: #d4d4d4; padding-top: 200px; font-size: 22px;  box-sizing: border-box; transition: all 0.2s; opacity: 0;}
section.global ul li a:hover .img:after, section.global ul li a:focus .img:after {opacity: 1}
section.global ul li a .img img {width: 100%;}
section.global ul li a h3 {font-size: 22px; margin: 40px 0 15px;}
section.global ul li a h3 span {display: block; font-size: 18px; font-weight: normal; color: #888;}
section.global ul li a p {font-size: 17px;}

/* global - motion */
section.global.motion ul li {animation-name: slid-up;animation-duration: 1s}
section.global.motion ul li:nth-child(2) {animation-duration: 1.4s}
section.global.motion ul li:nth-child(3) {animation-duration: 1.7s}
section.global.motion ul li:nth-child(4) {animation-duration: 2s}

/* footer */
footer {padding: 80px 0 0; text-align: center;}
footer .sns li  {display: inline-block; margin-right: 30px;}
footer .footerLogo {display: block; font-size: 40px; font-weight: 900; letter-spacing: -6px; color: #39312b; margin: 40px 0 20px;}
footer ul li {font-size: 17px; line-height: 1.4;}
footer ul li .copyright {font-weight: 100; color: #888; margin-top: 20px; display: block; font-size: 15px;}
footer .box {padding: 150px 0; background: url(../img/bottom_bg.jpg) no-repeat center/cover; margin-top: 80px;}
footer .box h2 {color: #fff; font-size: 22px; font-weight: normal;}

/* footer - motion  */
footer .box.motion h2 {animation-name: slid-up;animation-duration: 1s}

/* 모바일 네비 추가 */
header .open {display: none}
header .close {display: none}

/* 모바일용 줄바꿈 */
br.mo {display: none}

/* 반응형 시작 */

/* 1100px 이하 - 1024px 테블릿 참고 */  
@media screen and (max-width:1100px) { 
	.wrap {min-width: 100%}
	
	/* header */
	header {height: 60px; line-height: 60px; padding: 0 10px;}
	header .bg {width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.6); display: block; position: absolute; top: 0; left: 0;  z-index: 200; display: none;}
	header .logo {font-size: 30px; letter-spacing: -4px;}
	header nav {background: #fff; width: 0%; height: 100vh; position: absolute; right: 0; top: 0; overflow: hidden; transition: width 0.3s; z-index: 300;}
	header nav.on {width: 70%; max-width: 300px;}
	header .close {display: block; position: absolute; font-size: 35px;height: 60px; right: 10px; top: 0; padding-top: 5px; box-sizing: border-box;}
	header nav .gnb {margin-top: 100px;}
	header nav .gnb li {display: block; width: 100%; margin: 0; line-height: 60px;}
	header nav .gnb li a {width: 100%; padding-left: 30px; box-sizing: border-box; font-size: 20px;}
	header nav .gnb li a:after {display: none;}
	header .open {display: block; float: right;font-size: 32px; height: 60px; padding-top: 5px; box-sizing: border-box; }
	
	/* visual */
	section.visual {margin-top: 60px;}
	section.visual .img img {height: 100%; width: auto;}
	section.visual .title {left: 5%}
	section.visual .menu {width: 100%;left: 5%}
	section.visual .menu li {margin-right: 30px;}
	section.visual .menu li a p {font-size: 17px;}
	.slick-dots {right: 2.5%}
	
	/* about */
	section.about {width: 100%; height: 600px; overflow: hidden}
	section.about > img {height: 100%; width: auto;}
	section.about .inner .line {width: 40%}
	section.about .inner ul {width: 80%;}
	section.about .inner ul li {width: 50%; }
	section.about .inner ul li:nth-child(3) {margin-left: 25%}
	
	/* premium */
	section.premium {width: 100%; height: 800px}
	section.premium .title {left: 5%;}
	section.premium .textImg {left: 10px}
	
	/* global */
	section.global {width: 100%;}
	section.global ul li {padding: 10px;}
	section.global ul li a p {font-size: 15px;}
	section.global ul li a .img:after {display: none}
}

/* 950px 이하 - 768px 테블릿 참고 */  
@media screen and (max-width:950px) { 
	/* visual */
	section.visual .menu {display: none; width: 0; height: 0;}
	section.visual .img {width: 92%}
	
	/* about */
	section.about {height: 480px;}
	section.about .inner .line {width: 60%}
	section.about .inner ul {width: 95%}
	section.about .inner ul li {width: 33.3333%; font-size: 12px;}
	section.about .inner ul li:nth-child(3) {margin-left: 0;}

	/* premium */
	section.premium .title {left: 0; width: 100%; top: 20px; text-align: center;}
	section.premium .textImg {left: 20px; top: 28%; height: 60px;}
	section.premium .textImg img {height: 100%;}
	section.premium .banner {position: relative; width: 80%;left: 50%; transform: translateX(-50%); top: 31%;height: 500px;}
	section.premium .banner li:nth-child(1) {left: 15%; width: 22%}
	section.premium .banner li:nth-child(2) {left: 8%; width: 22%;}
	section.premium .banner li:nth-child(3) {left: 38%; width: 22%;}
	section.premium .banner li:nth-child(4) {width: 48%;}
	
	/* global */
	section.global ul li a h3 {font-size: 20px;}
	section.global ul li {padding: 2px;}
	section.global ul li a p {font-size: 12px}
	section.global ul li a .img {width: 90%;margin: auto;}	
}

/* 750px 이하 - 모바일 디바이스 체크 */  
@media screen and (max-width:750px) { 
	/* visual */
	/* 기존 돕다사이트는 모바일에서 비주얼 영역이 서브페이지 처럼너무 작게 나와서 풀로 꽉차게 디자인 바꾸고 글씨도 크게 보이게 변경해줌 */
	section.visual {height: 80vh; overflow: hidden}
	section.visual .img {width: 87%;}
	section.visual .img img { height: 80vh; width: auto; }
	section.visual .img .page img {width: 75%; height: auto; margin-left: 8%;}
	/* 각 비주얼 타이틀에 <br class="mo"> 작성 후 위에 br.mo display: none   */
	br.mo {display: block}
	section.visual .title h2 {font-size: 29px;}
	section.visual .title p {font-size: 14px;}
	.slick-dots {right: 20px;}
	
	/* about */
	section.about .inner h2 {font-size: 20px; margin-bottom: 10px;}
	section.about .inner .line {display: none; width: 0; height: 0;}
	section.about .inner ul li {width: 100%; margin: 20px 0 0; font-size: 13px;}
	section.about .inner ul li h3 {font-size: 16px; margin-bottom:8px;}
	
	/* banner */
	section.premium {height: 650px;}
	section.premium .title h2 {font-size: 20px;}
	section.premium .title p {font-size: 13px; margin-bottom:20px;} 
	section.premium .title a {font-size: 18px;}
	section.premium .title a:before {height: 12px; width: 60px;}
	section.premium .textImg {left: 0; height: 32px; text-align: center;}
	section.premium .banner {height: 400px; width: 100%;}
	section.premium .banner li:nth-child(1) {min-width: 100px; left: 10%}
	section.premium .banner li:nth-child(2) {min-width: 100px; left: 5%}
	section.premium .banner li:nth-child(3) {min-width: 100px; left: 42%}
	section.premium .banner li:nth-child(4) {right: 5%;}
	
	/* global */
	section.global .title h2 {font-size: 20px;}
	section.global .title p {font-size: 13px;}
	section.global ul {width: 95%; margin: auto}
	section.global ul li {width: 50%; margin-bottom: 20px;}
	section.global ul li a h3 {font-size: 16px; margin: 20px 0 10px;}
	section.global ul li a h3 span {font-size: 12px;}
	section.global ul li a p {font-size: 10px;}
	section.global:before {height: 48%}
	
	/* footer */
	footer {padding-top: 50px;}
	footer .sns li:last-child {margin-right: 0;}
	footer .sns li img{width: 80%;}
	footer .footerLogo {font-size: 28px; letter-spacing: -4px}
	footer ul li { font-size: 13px;}
	footer ul li .copyright {font-size: 13px; margin-top: 10px;}
	footer .box {padding: 80px 0; margin-top: 50px;}
	footer .box h2 {font-size: 17px;}
}

/* 320px 이하  - 280px  체크 - 개발자도구에서 갤럭시 폴드 기종 추가 */
@media screen and (max-width:320px) {
	/* visual */
	section.visual .title h2 {font-size: 22px;}
	section.visual .title p {font-size: 11px;}
	section.visual .img .page img {width: 55%; margin-left: 13%;}
	.slick-dots li button {width: 8px; height: 8px; margin-bottom: 10px;}
	
	/* about */
	section.about {height: 420px;}
	section.about .inner h2 {font-size: 16px;}
	section.about .inner ul li h3 {font-size: 14px;}
	section.about .inner ul li {font-size: 11px;}
	
	/* premium */
	section.premium {height: 580px;}
	section.premium .title h2 {font-size: 16px;}
	section.premium .title p {font-size: 10px;}
	section.premium .banner {height: 350px;}
	
	/* global */
	section.global .title h2 {font-size: 16px;}
	section.global .title p {font-size: 11px;}
	section.global ul li a h3 {font-size: 13px;}
	
	/* footer */
	footer ul li {font-size: 10px;}
	footer .box {padding: 50px 0;}
	footer .box h2 {font-size: 14px;}
	
}

